/* Styling */

@import 'variables';

html{
    font-family:'Helvetica', 'Tahoma', serif;
}
body {
    margin: 0;
    padding: 0;
    background: $light-color;
    color: #454545;
    font-size: calc(1em + 0.22vw);
    box-sizing: border-box;
    line-height: 1.4;
    ::selection {
        color: $light-color;
        background: $dark-color;
    }
    min-height: 80vh;
}

body.dark {
    background: #1d2021;
    color: $light-color;

    ::selection {
        color: $dark-color;
        background: $light-color;
    }
}

.verbatim{
    font-family: monospace;
    font-size: 0.8rem;
    padding: 3px 5px;
    border-radius: 3px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:#007bff;
}

.name {
    width: 80%;
    flex: 1;
    text-align: left;
    width: 80%;
}

.link, sup a {
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 2px solid;
    border-style: dotted;
    text-decoration: none;
    color: $primary-accent-color;
}

.content {
    margin-top: 10px;
    border-top: 2px #808080 solid;
}

.line {
    margin: 0;
    background: $primary-accent-color;
    height: 5px;
    border-radius: 4px;
    width: 0%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

p, li {
    a{
        border-right: 0px;
        border-top: 0px;
        border-left: 0px;
        border-bottom: 2px solid;
        border-style: dotted;
        text-decoration: none;
        color: $primary-accent-color;
    }
}

.color-scheme {
    font-size: 15px;
    text-align: right;
}

.checkbox {
    opacity: 0;
    position: absolute;
}
.post-header{
    display: flex;
    align-items: center;
}
.post-title {
    margin: 5px 0px;
    overflow-wrap: break-word;
    hyphens: manual;
    font-family: Helvetica, sans-serif;
}

.post-dets {
    margin: 0px 0px 5px 0px;
}


.tags {
    display: flex;
    flex-wrap: wrap;
    boder-bottom: 2px dotted;
    align-items: center;
    h5 {
        margin: 6px 5px 6px 0px;
    }
}

.tag {
    background: #e25555;
    color: $light-color;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 3px;
}

.post-item {
    margin: 10px 0;
}

.well h5 , .well h4, .well h3, .well p{
    margin: 5px 0px;
}
.well h3{
    font-family: serif;
}

.label {
    background-color: #282828;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 10px;
    width: 40px;
    transform: scale(1.5);
    margin-top: 10px;
    .ball {
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        height: 16px;
        width: 16px;
        transform: translateX(0px);
        transition: transform 0.2s linear;
    }
		svg {
						height: 12px;
						width: 12px;
						color: #f39c12;
		}
}

.checkbox:checked + .label .ball {
    transform: translateX(28px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro p {
    text-align: justify;
}

.intro-quote {
    font-family: Helvetica, sans-serif;
    list-style: none;
    font-style: italic;
    text-align: center;
    width: 400px;
  }

.image {
    width: 200px;
    border-radius: 200px;
    margin: 10px;
}

html.contrast body {
    color: #050505;
}

small {
    font-size: calc(0.5em + 0.33vw);
}

ul li img {
    height: 1em;
}

blockquote {
    margin-left: 0;
}

.nav {
    margin: 8px auto;
    a {
        background: $primary-accent-color;
        background: linear-gradient(90deg, $primary-accent-color 0%, $secondary-accent-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$primary-accent-color",endColorstr="#0a8fa8",GradientType=1);
        padding: 10px;
        color: $light-color;
        text-decoration: none;
        border-radius: 3px;
        margin: 5px;
    }
    a:hover {
        background: #fff;
        padding: 8px;
        color: $primary-accent-color;
        text-decoration: none;
        border: 2px solid $primary-accent-color;
        animation : blueToWhite 0.4s linear;
    }
}

.go-back {
    color: inherit;
    text-decoration: none;
		display:flex;
		margin: auto 10px auto 0px;
}

blockquote {
    background: lightgrey;
    color: #454545;
    border-left: 5px solid $primary-accent-color; /*#ccc;*/
    margin: 1.5em 20px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    p {
        display: inline;
        font-style: italic;
        font-size: calc(0.8em + 0.33vw);
    }
}

blockquote:before {
    color: #ccc;
    /* content: open-quote; */
    font-size: calc(1em + 0.33vw);
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote ul, ul {
    padding-left: 20px;
}

blockquote.dark{
    background: #282828;
    color: $light-color;
}

.social {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 0px 0px;
    justify-content: space-between;
    width: 80%;
    a {
        text-decoration: none;
        margin: 0;
        color: $primary-accent-color;
    }
}

.social-link {
    font-size: 30px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-right: 0px;
    border-top: 2px solid;
    border-left: 0px;
    border-bottom: 0px;
    margin: 20px auto auto auto;
    width: 100%;
    p {
        width: 90%;
        margin: 10px auto;
    }
    strong {
        width: 90%;
    }
    .copyleft {
        margin: 10px 0px;
        padding: 0;
        font-size: calc(0.5em + 0.33vw);
        list-style: none;
        b {
            display: inline-block;
            transform: rotate(180deg);
        }
        li {
            display: inline-block;
            margin: 0 0 0 0.45em;
            padding: 0 0 0 0.85em;
            border-left: solid 1px rgba(255, 255, 255, 0.5);
            line-height: 1;
        }
        li:first-child {
            border-left: 0;
        }
    }
}

pre {
    padding: 10px;
    background-color: #2c2c2c;
    border-radius: 5px;
    font-family: monospace;
    font-size: calc(0.7em + 0.13vw);
    overflow-x: auto;
}

code {
    background: #2c2c2c;
    color: $light-color;
}

@media screen and (max-width: 1024px) {
    html {
		font-size: 1em; 
		}
				.main {
	    width: 90%;
    }
    .tags, .post-title {
        margin: 0;
    }
    .post-header{
        flex-wrap: wrap;
    }
    #footer p,
    .intro-quote {
	    width: 90%;
    }
}

.back-transition{
    transition: background 0.2s linear;
}

.footnote-definition {
    display: flex;
    padding: 5px 0px;
}

.social{
    width: 100%;
}

.footnote-body, .footnote-body p{
    margin: 0;
    padding: 0 10px;
}

ul li p {
    margin: 5px;
}

@keyframes blueToWhite {
    0% {
        background: $primary-accent-color;
        background: linear-gradient(90deg, $primary-accent-color 0%, $secondary-accent-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$primary-accent-color",endColorstr="#0a8fa8",GradientType=1);
        color: $light-color;
    }
    100% {
        background: $light-color;
        color: $primary-accent-color;
    }
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #b8daff;
}

.table-hover .table-primary:hover {
  background-color: #9fcdff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #9fcdff;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #d6d8db;
}

.table-hover .table-secondary:hover {
  background-color: #c8cbcf;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #c8cbcf;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb;
}

.table-hover .table-success:hover {
  background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #bee5eb;
}

.table-hover .table-info:hover {
  background-color: #abdde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #abdde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba;
}

.table-hover .table-warning:hover {
  background-color: #ffe8a1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f5c6cb;
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f1b0b7;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca;
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-dark {
  color: #fff;
  background-color: #212529;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #32383e;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.column {
  float: left;
  }
  .right, .left {
  width: 25%;
  }
  .middle {
  width: 50%;
  }

  .align-items-start {
    align-items: flex-start !important;
  }

.align-items-center {
    align-items: center !important;
  }

  .align-items-end {
    align-items: flex-end !important;
  }

  .col {
    flex: 1 0 0%;
    padding-left:20px;
  }

  /* Large rounded green border */
.hr-posts {
  border: 1px dotted olivedrab;
  border-radius: 5px;
}

/* Categories */

.tagcloud03 {
  margin-bottom: 50px;
  text-align: center
}
.tagcloud03 ul.cloud li {
  margin: 0;
}
.tagcloud03 ul.cloud li a {
  padding: 0 1em 0 1em;
  /* border: none !important; */
  border: none;
  height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.tagcloud03 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagcloud03 ul li {
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  padding: 0;
}
.tagcloud03 ul li a {
  position: relative;
  display: inline-block;
  max-width: 250px;
  height: 35px;
  line-height: 35px;
  padding: 0 2.5em 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.tagcloud03 ul li a:hover {
  background-color: #4b56a8;
  border: 1px solid #0085A1;
  color: #fff;
}

.btn {
  transition: none;
}


.btn:hover {
color: #212529;
text-decoration: none;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.w-50 {
  width: 50% !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
 
.h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
