{{define "main"}}
<div class="intro" style="align-items: center">
  {{if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | absURL }}' 
	title="{{	.Site.Params.main.img_title }}" width="250px" 
	alt="Author's picture"/>
  <ul>
    <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
  </ul>
  {{end}}
  <p style="text-align:left;">
    Welcome to Pulse! As a metaphorical representation of our heartbeat, Software Engineering continues to progress every day, making this an exciting time to be alive. The advancements in this field have been nothing short of fascinating. This is my personal space, and the focus of this site is to share a variety of miscellaneous items that I hope visitors will find interesting or useful. As I come across intriguing content, I will post my reflections here. You can review the current categories of my posts by clicking on the <a href="/tags/">categories</a> tab. Please feel free to explore the site, and don't hesitate to <a href="/contact/">contact</a> me if you have any questions. It goes without saying that anything I post on this site reflects my personal opinion and not that of my employer. You can also find the RSS feed for this site at <a href="https://yaheya.com/index.xml" style="">here</a>.</p>
  {{end}}

