{{define "main"}}
<div class="intro" style="align-items: center">
  {{if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | absURL }}' 
	title="{{	.Site.Params.main.img_title }}" width="250px" 
	alt="Author's picture"/>
  <ul>
    <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
   </ul>
  {{end}}
  <p style="text-align:left;">
    <main class="content-container">
        <h1>Welcome to Pulse</h1>
         <p>
            Software engineering has a rhythm, a constant, driving beat of innovation. Every new framework, every breakthrough in AI, every elegant line of code adds to its pulse. We're living in one of the most dynamic times in history, and it's nothing short of electrifying.
        </p>

        <p>
            This site, Pulse, is my personal space to explore that ever-quickening beat. It’s a collection of my reflections, technical deep-dives, and musings on the technologies that fascinate me. As I navigate this incredible field, I'll be sharing the things I find useful, intriguing, or just plain cool.
        </p>
        
        <h3>What you'll find here:</h3>
        <ul>
            <li>Deep dives into new languages, tools, and platforms.</li>
            <li>Practical tips and code snippets I've picked up along the way.</li>
            <li>Reflections on industry trends and the future of tech.</li>
            <li>Reviews of books, articles, and resources that have helped me grow.</li>
        </ul>
        
        <p>
            I invite you to look around. The best place to start is the <a href="/tags/">categories</a> tab to see what sparks your interest. If a post resonates with you or you have a question, please don't hesitate to get in <a href="/contact/">contact</a>.
        </p>

        <p>
            You can also find the site's <a href="https://yaheya.com/index.xml">RSS feed</a> to stay updated.
        </p>
        <p>
          Let's explore what's next, together.
        </p>

        <p class="disclaimer">
            A quick note: All opinions, ideas, and code expressed here are my own and do not represent the views of my employer. To stay in the loop, you can subscribe to the <a href="https://yaheya.com/index.xml">RSS feed</a>.
        </p>

    </main>
    
    {{end}}

